<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{ dropzone.load() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1>Создание объявления</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}<br>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(class="form-control") }}<br>
                {% for error in form.description.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.tags.label }}<br>
                {{ form.tags(class="form-control") }}<br>
                {% for error in form.tags.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
    {{ dropzone.create(action_view='main.create_post') }}
    {% endblock %}
</body>
</html>