{% extends "base.html" %}
{% block content %}
    <h1>Archived posts</h1>
    {% for post, images in posts %}
    <div class="well">
        <div class="media">
            <div class="media-body">
              <a href="/post/{{post.id}}"><h4 class="media-heading">{{ post.title }}</h4></a>
<!--                <p class="text-left">{{ post.user.name }} {{ post.user.surname }}</p>-->
                <p class="text">{{ post.description }}</p>
                <p class="text"> Tags: {{ post.tags }}</p>
                {% for image in images %}
                    <a class="pull-left" href="#">
                        <img src="{{ image }}" width="100" style="padding-right: 10px">
                    </a>
                {% endfor %}
            </div>
            <p></p>
            <ul class="list-inline list-unstyled">
                <li>Start: <span><i class="glyphicon glyphicon-calendar"></i>{{ post.start_date }}</span></li><br>
                <li>End: <span><i class="glyphicon glyphicon-calendar"></i>{{ post.end_date }}</span></li>
            </ul>
        </div>
    </div>
    {% endfor %}
{% endblock %}