<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

        <h1>Редактирование объявления</h1>
        <form action="/edit_post/{{post.id}}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control", id="title") }}<br>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(class="form-control", id="description") }}<br>
                {% for error in form.description.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.tags.label }}<br>
                {{ form.tags(class="form-control", id="tags") }}<br>
                {% for error in form.tags.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
<!--            <input type="submit" onclick="submit()" Submit>-->
        </form>
        <p>
            <p style="clear: both">Select Photo (one or multiple):</p>
            <!-- {{ form.images.label }}
            {{ form.images(class="form-control", onchange="loadFile()", id="images_load") }} -->
            <input id="fileinput" type="file" name="fileinput" onchange="loadFile()" multiple/>
            <div id="media" style="padding: 10px">
                {% for image in images %}
                    <img id={{image[0]}} src="{{ image[1] }}"
                         height="150" style="padding: 10px 10px">
                    <button id='delete_{{image[0]}}' type='button'
                            onclick="deleteOldFile({{ image[0] }}, '{{ image[1] }}')"
                            style="width: 30px, font-size: 10">
                        <img height="20px" src="/files/cross.png">
                    </button>
                {% endfor %}</div>
        </p>
        <p>
            <td colspan="2" align="center">Note: Supported image format: .jpeg, .jpg, .png, .gif</td>
        </p>
    <input class="btn btn-primary" type="submit" onclick="submit()" Submit>

    <script>
        var id = {{ images[-1][0] }};
        var imgs = new Array();
        var imgs_old = new Array();
        images_str = '';
        images_old_str = '';
        function submit() {
                imgs.forEach((img) => {
                        images_str += img + ' ';
                    });
                imgs_old.forEach((img) => {
                        images_old_str += img + ' ';
                    });
                function check(){
                    flag = false
                    imgs.forEach((el) => {
                        if (Boolean(el)){
                            flag = true;
                        };
                    });
                    if (imgs_old.length != {{images_len}}){
                        flag = true
                    };
                    return flag;
                };
                let title = document.getElementById('title').value;
                let desc = document.getElementById('description').value;
                let tags = document.getElementById('tags').value;
                if (check() && (title) && (desc) && (tags)){
                    var form = new FormData();

                    form.append("description", desc);
                    form.append("title", title);
                    form.append("tags", tags);
                    form.append("images", images_str);
                    form.append("images_deleted", images_old_str);
                    var request = new XMLHttpRequest();
                    request.open("POST", '{{ post.id }}');
                    request.send(form);
                    window.location = "/post_after_edited";
                  }
                  else if (!(title) || !(desc) || !(tags)){
                    alert("Some fields unfilled");
                  }
                  else{
                    alert("No images - no post!");
                  };
            }

        function loadFile() {
            var i = 0;
            var paragraph = document.getElementById('media');
            var files = document.getElementById('fileinput').files;
            for (var i = 0; i < files.length; i++) { //for multiple files
                (function(file) {
                    var output = document.createElement('img');
                    var reader  = new FileReader();

                    output.height = "150";
                    id = id + 1;
                    output.id = id;
                    output.style = "padding: 10px 10px";
                    reader.onload = (function (output) {
                        return function(){
                            output.src = reader.result;
                            imgs.push(output.src);

                        };
                    })(output);
                    reader.readAsDataURL(files[i]);
                    paragraph.appendChild(output);
                    var delete_button = document.createElement('button');
                    delete_button.type = 'button';
                    delete_button.style = "width: 30px, font-size: 10";
                    delete_button.id = 'delete_' + String(id);
                    delete_button.setAttribute('onclick', "deleteFile(" + String(id) + ")");
                    paragraph.appendChild(delete_button);

                    var cross = document.createElement('img');
                    cross.setAttribute('height', "20px");
                    cross.src = "/files/cross.png";
                    delete_button.appendChild(cross);

                })(files[i]);
            };
        };
        function deleteFile(image_id) {
            imgs[image_id - 1] = '';
            var image = document.getElementById(image_id);
            image.parentNode.removeChild(image);
            var del_im = document.getElementById('delete_' + String(image_id))
            del_im.parentNode.removeChild(del_im);
        };
        function deleteOldFile(image_id, url) {
            imgs_old.push(String(url));
            var image = document.getElementById(image_id);
            image.parentNode.removeChild(image);
            var del_im = document.getElementById('delete_' + String(image_id))
            del_im.parentNode.removeChild(del_im);
        };
    </script>
    {% endblock %}
</body>
</html>
