<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

        <h1>Редактирование объявления</h1>
        <form action="active" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}<br>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(class="form-control", id="desc") }}<br>
                {% for error in form.description.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.tags.label }}<br>
                {{ form.tags(class="form-control", onchange="loadFile()") }}<br>
                {% for error in form.tags.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                <p style="clear: both">Select Photo (one or multiple):</p>
                <!-- {{ form.images.label }}
                {{ form.images(class="form-control", onchange="loadFile()", id="images_load") }} -->
                <input type="file" name="fileinput" onchange="loadFile()" multiple/>
                <div id="media" style="padding: 10px">
                    {% for image in images %}
                        <img id={{image[0]}} src="data:image/png;base64,{{ image[1] }}"
                             height="150" style="padding: 10px 10px">
                        <button id='delete_{{image[0]}}' type='button'
                                onclick="deleteFile({{ image[0] }})"
                                style="width: 30px, font-size: 10">remove</button>
                    {% endfor %}</div>

            </p>
            <p>
                <td colspan="2" align="center">Note: Supported image format: .jpeg, .jpg, .png, .gif</td>
            </p>
<!--            <input type="submit" onclick="submit()" Submit>-->
        </form>
    <input type="submit" onclick="submit()" Submit>

    <script>
        var id = {{ images[-1][0] }};
        var imgs = '';
        function submit() {
            document.getElementById('images_load').data = imgs;
            let desc = document.getElementById('desc').value;
            var form = new FormData();

            form.append("desc", desc);
            for (let i=1; i <= id; i++){
                imgs = imgs + document.getElementById(i).src + ' ';
            }
            form.append("images", imgs);
            var request = new XMLHttpRequest();
            request.open("POST", '{{ post.id }}');
            request.send(form);
        }
        /*
        https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
        */

        function loadFile() {
            var i = 0;
            var paragraph = document.getElementById('media');
            for (i = 0; i < event.target.files.length; i++){
                var output = document.createElement('img');
                var reader  = new FileReader();
                
                output.height = "150";
                id = id + 1;
                output.id = id;
                output.style = "padding: 10px 10px";
                // paragraph.appendChild(output);
                
                // output.src = reader.result;
                // output.onload = function() {
                //     URL.revokeObjectURL(output.src)
                // };
                // reader.onloadend = function () {
                //     output.src = reader.result;
                // }
                reader.onloadend = (function (output) {
                    return function(){
                        output.src = reader.result;
                    };
                })(output);
                reader.readAsDataURL(event.target.files[i]);
                paragraph.appendChild(output);
                var delete_button = document.createElement('button');
                delete_button.type = 'button';
                delete_button.style = "width: 30px, font-size: 10";
                delete_button.id = 'delete_' + String(id);
                delete_button.setAttribute('onclick', "deleteFile(" + String(id) + ")");
                paragraph.appendChild(delete_button);

                document.getElementById('delete_' + String(id)).innerHTML = 'remove';
            };
        };
        function deleteFile(image_id) {
            var image = document.getElementById(image_id);
            image.parentNode.removeChild(image);
            var del_im = document.getElementById('delete_' + String(image_id))
            del_im.parentNode.removeChild(del_im);
        };
    </script>
    {% endblock %}
</body>
</html>