<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
{% extends "base.html" %}
{% block content %}
    <h1>Post #{{post.id}}</h1>
    <div class="well">
        <div class="media">
            <div class="media-body">
              {% if current_user.id == post.creator %}
                <a href="/delete_post/{{post.id}}"><button class="pull-right btn btn-danger">Delete</button></a>
                <a href="/edit_post/{{post.id}}"><button class="pull-right btn btn-primary" onclick="editComment()">Edit</button></a>
              {% endif %}
              <h4 class="media-heading">{{ post.title }}</h4>
                <p class="text-left">{{ post.user.name }} {{ post.user.surname }}</p>
                {% for image in images%}
                    <a class="pull-left" href="#">
                        <img src="{{ image }}" width="100" style="padding-right: 10px">
                    </a>
                {% endfor %}
            </div>
            <p></p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i>{{ post.start_date }}</span></li>
            </ul>
            {% if current_user.is_authenticated and current_user.id != post.creator%}
                <a href="/propose_barter/{{post.id}}"><button class="pull-right btn btn-success">Reply</button></a>
            {% endif %}
        </div>
    </div>
    {% if current_user.id == post.creator and replies_num > 0 %}
        <a href="/post/{{post.id}}/replies"><button class="btn btn-primary">See replies</button></a>
    {% endif %}
    {% for comment in comments %}
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                By: <b><i>{{ authors[comment.author]}}</i></b>
                            </div>
                            <div class="mic-info" style="font-size: 13px, font-style: italic">
                                On {{ comment.pub_date }}
                            </div>
                        </div><br>
                        <div class="comment-text" style="font-size: 18px">
                            {{ comment.text }}
                        </div>
                        {% if current_user.id == comment.author %}
                        <div class="action">
                            <a href="/edit_comment/{{comment.id}}">
                                <button type="button" class="btn btn-primary btn-xs"
                                        style="font-size: 20px" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            <a href="/delete_comment/{{comment.id}}">
                                <button type="button" class="btn btn-danger btn-xs" style="font-size: 20px"
                                        title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>        
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h4>Leave a comment</h4>
        <form action="" method="POST">
            {{ comment_form.hidden_tag() }}
            <p>
                {{ comment_form.text.label }}<br>
                {{ comment_form.text(class="form-control") }}<br>
                {% for error in comment_form.text.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ comment_form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    {% endif %}
{% endblock %}