<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% extends "base.html" %}
{% block content %}
    <h1>Post #{{post.id}}</h1>
    <div class="well">
        <div class="media">
            <div class="media-body">
              <a href="/edit_post/{{post.id}}"><button class="pull-right btn btn-primary">Edit</button></a>
              <h4 class="media-heading">{{ post.title }}</h4>
                <p class="text-left">{{ post.user.name }} {{ post.user.surname }}</p>
                {% for image in images%}
                    <a class="pull-left" href="#">
                        <img src="data:image/png;base64,{{ image }}" width="100" style="padding-right: 10px">
                    </a>
                {% endfor %}
            </div>
            <p></p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i>{{ post.start_date }}</span></li>
            </ul>
        </div>
    </div>
    {% for comment in comments %}
    <!-- <div class="well">
        <div class="media">
            <div class="media-body">
                <h4><i> by {{ authors[comment.author]}}</i> at {{ comment.pub_date }}</h4>
                <p class="text">{{ comment.text }}</p>
            </div>
        </div>
    </div> -->
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                By: <b><i>{{ authors[comment.author]}}</i></b>
                            </div>
                            <div class="mic-info" style="font-size: 13px, font-style: italic">
                                On {{ comment.pub_date }}
                            </div>
                        </div><br>
                        <div class="comment-text", style="font-size: 18px">
                            {{ comment.text }}
                        </div>
                        <!-- <div class="action">
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>        
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h4>Leave a comment</h4>
        <form action="" method="POST">
            {{ comment_form.hidden_tag() }}
            <p>
                {{ comment_form.text.label }}<br>
                {{ comment_form.text(class="form-control") }}<br>
                {% for error in comment_form.text.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ comment_form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    {% endif %}
{% endblock %}